<form [formGroup]="form">

  <div class="row">
    <label>array size</label>
    <input type="number" formControlName="size" max="20" min="2">
  </div>

  <div class="row">
    <label>array item rang</label>
    <input type="number" formControlName="min" min="1" max="100">
    <input type="number" formControlName="max"  min="1" max="100">
  </div>


  <div class="row">
    <label>move to</label>
    <div class="col">
      <label><input type="radio" value="start" name="moveTo" formControlName="moveTo">start</label>
      <label><input type="radio"  value="end"  name="moveTo" formControlName="moveTo">end</label>
    </div>
  </div>

<input type="submit" (click)="generation()" value="generation" [disabled]="form.invalid">

</form>

<div class="">
  [<span class="array-item" *ngFor="let item of array; let i = index" (click)="sort(i, item)">|{{item}}</span>]
</div>
